

.counter{
    color: var(--thema-color);
}

.counter:before{
    position: absolute;
    content: attr(data-start);
    top:-8px;
    left:50%;
    font-size: 10px;
    transform: translateX(-50%);
}

@property --count-number {
  syntax: '<integer>';
  initial-value: 0;
  inherits: false;
}

.count1::after {
    font: 800 40px system-ui;
    content: counter(count);
    animation: counter 1s linear infinite alternate;
    counter-reset: count 0;
  }
  
  @keyframes counter {
    0% {
      counter-increment: count 0;
    }
    10% {
      counter-increment: count 1;
    }
    20% {
      counter-increment: count 2;
    }
    30% {
      counter-increment: count 3;
    }
    40% {
      counter-increment: count 4;
    }
    50% {
      counter-increment: count 5;
    }
    60% {
      counter-increment: count 6;
    }
    70% {
      counter-increment: count 7;
    }
    80% {
      counter-increment: count 8;
    }
    90% {
      counter-increment: count 9;
    }
    100% {
      counter-increment: count 10;
    }
  }